<!DOCTYPE html>
<html>
<head>
    <title>커피전문점</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail.css' />
</head>
<body>
    <div id="navbar">
        <div class="wrap">
            <div class="item_logo"></div>
            <div class="item">
                <a href="/"><font size = "3vw" color = "white">홈</font> </a>
            </div>
            <div class="item">
                <a href="/menulist"><font size = "3vw" color = "white">메뉴</font> </a>
            </div>
            <div class="item">
                <a a href="/basket"><font size = "3vw" color = "white">장바구니</font> </a>
            </div>
            <div class="item">
                <a href="/ordermanagement"><font size = "3vw" color = "white">주문 기록</font> </a>
            </div>
            <div class="item">
                <a href="/supplyreport"><font size = "3vw" color = "white">납품 기록</font> </a>
            </div>
            <div class="item">
                <a href="/ingredientmanagement"><font size = "3vw" color = "white">재고 관리</font> </a>
            </div>
            <div class="item">
                <a href="/signin"><font size = "3vw" color = "white">로그아웃</font> </a>
            </div>
        </div>
    </div>
    <% if (month_infos) {%>
        <
    <%}%>

    <h1>월별 통계</h1>
</body>
</html>
