<!DOCTYPE html>
<html>
<head>
    <title>커피전문점</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail.css' />
</head>
<body>
    <div id="navbar">
        <div class="wrap">
            <div class="item_logo"></div>
            <div class="item">
                <a href="/"><font size = "3vw" color = "white">홈</font> </a>
            </div>
            <div class="item">
                <a href="/menulist"><font size = "3vw" color = "white">메뉴</font> </a>
            </div>
            <div class="item">
                <a a href="/basket"><font size = "3vw" color = "white">장바구니</font> </a>
            </div>
            <div class="item">
                <a href="/signup"><font size = "3vw" color = "white">회원가입</font> </a>
            </div>
        </div>
    </div>
    <form action="signin" method="post">
        <div id="content">
            <h2>로그인 화면이 뜰 페이지</h2><br>
            <label> 아디 </label>
            <input type="text" name="uid" max="20"><br>
            <label> 비번 </label>
            <input type="password" name="upw"><br><br>
            <button type="submit">로그인</button> <br>
        </div>
    </form>
</body>
</html>
